/*common css*/
*{
    margin: 0;
    padding: 0;
}

/*header style*/
header{
    display: flex;
    
}
.head1 a{
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
 

}
body{
    font-family: 'Poppins', sans-serif;
}
.login a{
    text-decoration: none;
    background-color: brown;
    
}
#banner{
    background-color:#2D25A0;
}
.banner-area{
    display: flex;
}
.banner-area .text1{
    color: #FFFFFF;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.text1 img{
    width: 60%;
}
.text1 h1{
    font-size: 60px;
}
.text1 a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 5px 10px;
    color: #ffffff;
}